sdk/calvin_files/parsers/data/Array.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT ArrayFile (PhysicalArrays*, UserAttributes*)>
<!ATTLIST ArrayFile
	ID CDATA #REQUIRED
	Type CDATA #REQUIRED
	Version CDATA #REQUIRED
>
<!ELEMENT Attribute (Control*)>
<!ATTLIST Attribute
	Name CDATA #REQUIRED
	Value CDATA #REQUIRED
>
<!ELEMENT Control EMPTY>
<!ATTLIST Control
	Value CDATA #REQUIRED
>
<!ELEMENT PhysicalArray (Attribute*)>
<!ATTLIST PhysicalArray
	ID CDATA #IMPLIED
>
<!ELEMENT PhysicalArrays (PhysicalArray)>
<!ELEMENT UserAttributes (Attribute*)>
